:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#ThreeJSCanvas {
  margin-top: 20px;
  border: 1px solid #aa0c90;
  border-radius: 1rem;
  display: flex;
}

h2,
.user-details {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 60px;
  background-color: #034e5c;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
}
p {
  margin: 0;
  padding: 5px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 1rem;
}
